{{extend 'layout.html'}}


<div class="hero-unit">
    <h1>WebEventos</h1>
    <p>Se estava a procura de um site facil e agil para criar o seu evento, você clicou no link certo!
	WebEventos está aqui para você que não quer complicação e deseja que seu evento seja divulgado.
	Se ainda não tem uma conta, cadastre-se e se surpreenda com a facilidade de se criar um evento.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
</div>

  <!-- Example row of columns -->
<div class="row">
    {{for evento in eventos:}}
    <div class="span4">
      <h2>{{=evento['nome']}}</h2>
      <p>{{=evento['descricao']}} </p>
      <p><a class="btn" href="#">Detalhes »</a></p>
    </div>
    {{pass}}
</div>












