{{extend 'layout.html'}}
{{if eventos:}}
    <table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Editar</th>
    </tr>
    {{for evento in eventos:}}
        <tr>
            <td>{{=evento.nome}}</td>
            <td>
                <a href="{{=URL('default', 'horario.pdf', vars={'evento':evento.id})}}" class="btn btn-inverse" target="_blank"><i class="icon-pencil icon-white"></i> Consultar horário de atividades</a>
            </td>
        </tr>
        </div>
    {{pass}}
    </table>
{{else:}}
    <h1>Você não participa de  nenhum evento.</h1>
{{pass}}
