{{extend 'layout.html'}}
{{if eventos:}}
    <table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Patrocinador</th>
        <th>Organizador</th>
        <th>Atividade</th>
        <th>Palestrante</th>
    </tr>
    {{for evento in eventos:}}
        <tr>
            <td><a href="{{=URL('default','evento/'+ str(evento.id))}}" target="_blank">{{=evento.nome}}</a></td>
            <td>
                <a href="{{=URL('evento', 'editar_ou_apagar/'+ str(evento.id))}}" class="btn btn-inverse"><i class="icon-pencil icon-white"></i><i class="icon-trash icon-white"></i> Editar ou  Apagar evento</a>
            </td>
            <td>
                <a class="btn btn-inverse" href="{{=URL('evento', 'cadastrar_patrocinador/'+ str(evento.id))}}"><i class="icon-gift icon-white"></i> Cadastrar patrocinador</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'cadastrar_organizador/'+ str(evento.id))}}"><i class=" icon-wrench icon-white"></i> Cadastrar organizador</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'cadastrar_atividade/'+ str(evento.id))}}"><i class="icon-bullhorn icon-white"></i> Cadastrar atividade</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'cadastrar_palestrante/'+ str(evento.id))}}"><i class="icon-bullhorn icon-white"></i> Cadastrar palestrante</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
            </td>
            <td>
                <a class="btn btn-inverse" href="{{=URL('evento', 'listar_patrocinadores/'+ str(evento.id))}}"><i class="icon-gift icon-white"></i> Listar patrocinadores</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'listar_organizadores/'+ str(evento.id))}}"><i class=" icon-wrench icon-white"></i> Listar organizadores</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'listar_atividade/'+ str(evento.id))}}"><i class="icon-bullhorn icon-white"></i> Listar atividades</a>
            </td>
            <td>
               <a class="btn btn-inverse" href="{{=URL('evento', 'listar_palestrantes')}}"><i class="icon-bullhorn icon-white"></i> Listar palestrantes</a>
            </td>
        </tr>
        </div>

    {{pass}}
    </table>
{{else:}}
    <h1>Você ainda não criou nenhum evento.</h1>
{{pass}}
